{
    "require": {

    },
    "require-dev": {
        "apigen/apigen": "dev-master",
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "^7.0",
        "roave/better-reflection": "dev-master#c87d856",
        "squizlabs/php_codesniffer": "3.*",
        "overtrue/phplint": "dev-master"
    },
    "autoload": {
        "psr-4": {
            "App\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\": "test/"
        }
    },
    "minimum-stability": "stable",
    "prefer-stable": true
}